@import 'styles/antd';
@import 'styles/customize';
@import 'styles/layout';
@import 'styles/figma';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

body {
  font-family: 'Libre Franklin', sans-serif !important;
}

code,
pre,
input[type='code'],
textarea[type='code'] {
  font-family: 'Inconsolata', monospace !important;
}

* {
  outline: none !important;
}

a:hover {
  text-decoration: none !important;
}
